html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
    title {{title}}
  body
    if compras.length > 0
        table.table
          thead.bg-dark.text-white
            tr
              th(scope='col') #
              th(scope='col') Nombre del producto
              th(scope='col') Precio
              th(scope='col') Foto
          tbody
              each val in compras
                 tr
                  th(scope='row')= val.id
                  td= val.title
                  td= val.price
                  td
                    img(rel='icon', src=val.image, style='width: 30px; height: 30px;')
        button.btn.btn-primary.d-grid.gap-2.col-6.mx-auto(onclick="window.location.href='/'") Volver a cargar productos
    else 
        h1.row.justify-content-center.text-light= noProd
        
        button.btn.btn-primary.d-grid.gap-2.col-6.mx-auto(onclick="window.location.href='/'") Volver a cargar productos
